---
name: main

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  main:
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install tox
      run: python -m pip install --upgrade tox virtualenv setuptools pip
    - name: run tox
      run: tox -e py
